<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		
		<File name="logToFile" fileName="D:/log.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		
		<RollingFile name="rollingFile"
            fileName="D:/spring-boot-logger-log4j2.log"
filePattern="D:/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches 
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
	</Appenders>
	
	<Loggers>
		<Logger name="com.t3h.demo" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logToFile"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="info">
        	<AppenderRef ref="console"/>
        </Root>
	</Loggers>
</Configuration>