<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student management</title>
</head>
<body>
	<h1>Student management</h1>
	<h3 style="color: red" th:text="${msg}"></h3>
	<table border="1px">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Options</td>
		</tr>
		<tr th:each="st : ${listStudent}">
			<td th:text="${st.id}"></td>
			<td th:text="${st.name}"></td>
			<td>
				<button th:attr="onclick=|getStudentById('${st.id}')|">Edit</button>
				<a th:href="@{/deleteStudent/}+${st.id}">Delete</a>
			</td>
		</tr>
	</table>
	
	<hr/>
	<h1>Create Student</h1>
	<form th:action="@{/addStudent}" method="post">
		<table border="1px">
			<tr>
				<td>Id</td>
				<td><input type="text" name="id" /></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"/></td>
			</tr>
		</table>
	</form>
	
	<h1>Edit Student</h1>
	<form th:action="@{/editStudent}" method="post">
		<table border="1px">
			<tr>
				<td>Id</td>
				<td><input type="text" name="id" id="studentId"/></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" id="studentName"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"/></td>
			</tr>
		</table>
	</form>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js">
</script>
<script type="text/javascript">
	function getStudentById(id) {
		
		var student = {"id": id};
		// Goi api thong qua ajax
		$.ajax({
			type: "POST",
			url: "/getStudentById",
			dataType: "json",
			contentType: "application/json; chartset=UTF-8",
			data: JSON.stringify(student),
			success: function(data) {
				console.log(data);
				// Set student data cho edit form
				$("#studentId").val(data.id);
				$("#studentName").val(data.name);
			},
			error: function(err) {
				alert("error: " + err);
			}
		});
	}
</script>
</html>